@import play.api.libs.json.{JsArray, JsBoolean, JsNumber, JsObject, JsString}
@(title: String)(content: Html)(implicit request: UserRequest[_])

@nav(icon: String, module: String, target: String, aclKey: Option[String] = None) = {
	@if(aclKey.forall(key => request.acl.can(key))) {
		<li data-module="@module"><a href="@target"><i>@icon</i></a></li>
	}
}

@if(request.isFetch) {
	@* Playing with history will issue a Gt-Fetch request despite it being a top-level navigation *@
	<script>if (!window.GT_LOADED) location.reload();</script>
	@content
} else {
	<!DOCTYPE html>
	<html @if(request.isElectron) {app} @if(!request.authenticated) {unauthenticated}>
	<head>
		<title>@title</title>
		<link rel="icon" type="image/png" href="@routes.Assets.versioned("images/wfit.png")">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono|Roboto:300,400,500&subset=latin-ext">
		<link rel="stylesheet" href="@routes.Assets.versioned(s"stylesheets/base.css")">
		<link rel="stylesheet" href="@routes.Assets.versioned(s"stylesheets/wow.css")">
		<link rel="stylesheet" href="@routes.Assets.versioned(s"stylesheets/layout.css")">
		<link rel="stylesheet" href="@routes.Assets.versioned(s"stylesheets/window.css")">
	</head>
	<body>
		<header>
			<h1>
				@if(request.isElectron) {
					<nav id="app-nav">
						<h3>Wait for it</h3>
						<ul>
							<li><a class="btn alternate" href="/settings"><i>settings</i><span>Préférences</span></a></li>
							<li><a class="btn alternate" data-action="reload"><i>refresh</i><span>Recharger</span></a></li>
							<li><a class="btn alternate" data-action="restart"><i>power_settings_new</i><span>Relancer</span></a></li>
							<li><a class="btn alternate" data-action="devtools"><i>build</i><span>Developer Tools</span></a></li>
							<li><a class="btn alternate" data-action="quit"><i>exit_to_app</i><span>Quitter</span></a></li>
						</ul>
					</nav>
				}
				<img src="@routes.Assets.versioned("images/wfit.png")">
				<span class="lds-dual-ring">
					<span></span>
				</span>
			</h1>
			<h2>@title</h2>
			<div class="spacer"></div>
			@if(request.authenticated) {
				<div id="user-badge">
					<span class="dot"></span>
					<span wow-class="@request.main.cls.id">@request.main.name</span>
					<i>expand_more</i>
				</div>
			}
			<div id="app-buttons">
				<button data-action="minimize"><i>remove</i></button>
				<button data-action="maximize"><i>crop_square</i></button>
				<button data-action="close"><i>close</i></button>
			</div>
		</header>
		@if(request.authenticated) {
			<nav id="modules-nav">
				<ul>
					@nav("dashboard", "dashboard", routes.DashboardController.dashboard().url)
					@nav("account_circle", "profile", routes.ProfileController.profile(request.user.uuid).url)
					@nav("event", "calendar", null, Some("calendar.access"))
					@nav("flash_on", "slacks", null, Some("slacks.access"))
					@nav("pages", "composer", null, Some("composer.access"))
					@nav("group", "roster", routes.RosterController.roster().url, Some("roster.access"))
					@if(request.isElectron) {
						@nav("extension", "addons", routes.AddonsController.list().url, Some("addons.access"))
						@nav("screen_share", "tv", null, Some("tv.access"))
					} else {
						@nav("forum", "forum", "http://waitforit.fr/forum/")
					}
					@nav("settings", "admin", routes.AdminController.home().url, Some("admin.access"))
				</ul>
			</nav>
		}
		<section id="content" hidden>@content</section>
		<aside id="toasts"></aside>
		<script>
			GT_LOADED = true;
			GT_MAIN = true;
			GT_APP = @Html(JsBoolean(request.isElectron).toString);
			GT_AUTHENTICATED = @Html(JsBoolean(request.authenticated).toString);
			INSTANCE_UUID = @Html(JsString(request.meta.instanceUUID.toString).toString);
			STATE_HASH = @Html(JsString(request.stateHash.toString).toString);
			CLIENT_SCRIPTS = @Html(JsArray(request.meta.clientScripts.map(JsString.apply)).toString);
			USER_ACL = @Html(JsObject(request.acl.grants.map { case (k, v) => (k, JsNumber(v))}.toSeq).toString);
		</script>
		@for(script <- request.meta.clientScripts) {
			<script type="text/javascript" src="@script"></script>
		}
		<script>
			gt.init(@Html(JsArray(request.autoWorkers.map(JsString.apply)).toString));
		</script>
	</body>
	</html>
}
