@()(implicit req: UserRequest[_])

@view("Connexion", "login", "gt.modules.login.Form") {
	<div id="login">
		<h2><img src="@routes.Assets.versioned("images/banner.png")"></h2>
		<form class="box" action="@routes.HomeController.performLogin()">
			<label>
				<span>Identifiant</span>
				<input name="id">
			</label>
			<label>
				<span>Mot de passe</span>
				<input type="password" name="pass">
			</label>
			<button>Connexion</button>
		</form>
		<div class="box error" hidden></div>
	</div>
}
