@import models.composer.Document
@(docs: Seq[Document])(implicit request: UserRequest[_])

@view("Composer", "composer", "gt.modules.composer.Composer") {
	<div class="layout-columns">
		<div class="column" id="composer-docs">
			@if(request.acl.can("composer.edit")) {
				<a class="btn alternate" @href(routes.ComposerController.create())>Nouveau document</a>
			}
			<div>
			@for(doc <- docs) {
				<div class="box mb row doc" data-id="@doc.id">
					<div class="flex">
						<h3>@doc.title</h3>
						<span class="gray">@Timeago.format(doc.updated).capitalize</span>
					</div>
					<div>
						<i>chevron_right</i>
					</div>
				</div>
			}
			</div>
		</div>
		<div class="column" id="composer-view"></div>
	</div>
}
