@import models.composer.Document
@(doc: Document)(implicit request: UserRequest[_])

@view(doc.title, "composer", "gt.modules.composer.Composer", styles = Seq("composer/composer")) {
	@value("document-id", doc.id)
	<div class="layout-columns">
		<div class="column" id="composer-sidebar">
			<div class="tabs-container"></div>
			<div class="flex content"></div>
		</div>
		<div class="flex column" id="composer-main">
			<div class="fragments-mount"></div>
			<div class="new">
				<h3 class="gray">Nouvelle section</h3>
				<div class="row">
					<button class="gray alternate" data-type="text"><i>text_fields</i> Texte</button>
					<button class="gray alternate" data-type="group"><i>people</i> Groupe</button>
					<button class="gray alternate" data-type="grid"><i>border_all</i> Grid</button>
				</div>
			</div>
		</div>
	</div>
}
