@import gt.modules.composer.ComposerUtils
@import models.composer.{Fragment, Slot}
@(fragment: Fragment, slots: Seq[(Slot, Option[Toon])])(implicit request: UserRequest[_])

<div class="fragment fragment-group">
	<div class="header">
		<h3><i>people</i> @fragment.title</h3>
		<div class="stats">
			@for((icon, count, ilvl) <- ComposerUtils.computeAllStats(slots)) {
				<span>
					@icon.map { src => <img src="@src"> }
					<strong>@count</strong>
					<span class="gray">(@ilvl)</span>
				</span>
			}
		</div>
	</div>
	<div class="tiers">
	@for(ss <- slots.groupBy(_._1.row).toSeq.sortBy(_._1).map(_._2)) {
		<div class="tier">
		@for((slot, toon) <- ss) {
			<span class="toon @if(toon.map(_.owner).contains(request.user.uuid)) { self }" wow-class="@slot.cls.id">
			@slot.name
			</span>
		}
		</div>
	}
	</div>
</div>
