#composer-docs {
	.doc {
		cursor: pointer;
		align-items: center;
		width: 250px;

		&.focused {
			outline: 1px solid fade-out(#dd1f20, 0.30);
		}

		h3 {
			margin: 0;
		}

		i {
			font-size: 18px;
		}
	}
}

#composer-document-body {
	width: 700px;
	margin: 0 auto;

	@media (min-width: 1822px) {
		width: 1416px;
	}

	.fragments {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 8px;
	}

	.fragment {
		width: 700px;
		margin-top: 16px;

		.header {
			display: flex;
			h3 {
				flex: 1;
			}
		}
	}

	.self {
		outline: 1px solid;
	}

	.fragment-group {
		.tiers {
			display: flex;
		}

		.tier {
			width: 125px;
			&:not(:first-child) {
				margin-left: 8px;
			}
		}

		.stats {
			margin-top: 2px;
			margin-right: 45px;
		}
	}

	.header .stats {
		img {
			height: 20px;
			width: 20px;
			vertical-align: middle;
			margin-left: 4px;
		}
	}
}
