@import "editor_sidebar";

$fragment-width: 700px;

#composer-main {
	padding: 0;
	display: flex;
	flex-direction: column;

	.toolbar {
		height: 59px;
		background: #1a1a1a;
		padding: 12px 24px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
		z-index: 2;

		display: flex;
		align-items: center;

		button {
			background: none;
			box-shadow: none;
			display: inline-block;
			padding: 6px 0;
			border: 2px solid transparent;
			opacity: 0.6;
			margin-right: 16px;

			&:hover, &[active] {
				opacity: 1;
			}

			&[active] {
				border-bottom: 2px solid $color-primary;
			}
		}
	}

	.scroll-pane {
		flex: 1;
		overflow: auto;
	}

	.fragments-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0 24px;

		@media (min-width: 1916px) {
			justify-content: space-between;
		}
	}

	.fragment {
		width: $fragment-width;
		padding: 12px 0;

		.header {
			align-items: center;
			margin-bottom: 8px;
		}

		.focus {
			margin-right: 8px;
			opacity: 0.3;
			&:hover {
				opacity: 0.6;
			}
			&[focused] {
				color: #dd1f20;
				opacity: 1;
			}
		}

		h3 {
			margin: 0;
			display: flex;
			align-items: center;
			height: 22px;
			& > i {
				margin-right: 8px;
			}
			span {
				flex: 1;
			}
		}

		button {
			font-size: 16px;
			opacity: 0.3;
			i {
				margin: 0;
			}
			&:hover {
				opacity: 1;
			}
		}

		&.drag-before {
			box-shadow: inset 0 15px 15px -10px fade-out(#dd1f20, 0.50);
		}

		&.drag-after {
			box-shadow: inset 0 -15px 15px -10px fade-out(#dd1f20, 0.50);
		}

		&[filter-mains] {
			.toon:not([main]) {
				opacity: 0.4;
			}
		}
	}

	.group-fragment {
		.tiers {
			max-width: 100%;
			display: flex;
			justify-content: flex-start;
		}

		.tier {
			width: 136px;
			min-height: 35px;
			margin-right: 5px;
			padding: 4px;
			border: 1px solid #222;
			display: flex;
			flex-direction: column;

			&:last-child {
				margin-right: 0;
			}

			&.hover {
				outline: 1px dotted #dd1f20;
			}

			.toon {
				width: 126px;
				margin-top: 4px;

				&:first-child {
					margin-top: 0;
				}
			}

			.toon[duplicate] {
				outline: 1px solid fade-out(#dd1f20, 0.30);
			}
		}
	}

	.header .stats {
		img {
			height: 20px;
			width: 20px;
			vertical-align: middle;
			margin-left: 4px;
		}
	}

	.new {
		width: $fragment-width;
		margin: auto;
		padding: 12px 0;

		button {
			flex: 1;
			font-size: 16px;
			display: block;
			padding: 24px 24px 18px 24px;

			i {
				font-size: 24px;
				display: block;
				margin: 0 0 16px 0;
			}

			&:hover {
				color: #eeeeee;
			}
		}
	}
}
