.doc {
	cursor: pointer;
	align-items: center;
	width: 250px;

	&.focused {
		outline: 1px solid fade(#dd1f20, 70%);
	}

	h3 {
		margin: 0;
	}

	i {
		font-size: 18px;
	}
}

.document-body {
	width: 700px;
	margin: 0 auto;
}

.fragments {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.fragment {
	width: 700px;
	margin-top: 16px;
}

.fragment-group {
	.tiers {
		display: flex;
	}

	.tier {
		width: 125px;
		&:not(:first-child) {
			margin-left: 8px;
		}
	}
}

@media (min-width: 1822px) {
	.document-body {
		width: 1416px;
	}
}
