@()(implicit request: UserRequest[_])

@view("Préférences", "settings", "gt.modules.settings.Settings") {
	<div class="layout-center" id="settings">
		<section style="width: 700px;">
			<h3>Préférences</h3>
			<div class="box">
				<div class="row" style="min-height: 500px;">
					<nav>
						<button class="alternate" data-tab="general"><i>settings</i> Général</button>
						<button class="alternate" data-tab="notifications"><i>chat</i> Notifications</button>
					</nav>
					<div class="column">
						<div data-tab="general">
							<h3>Général</h3>
							<h4>Application</h4>
							<label class="checkbox">
								<input type="checkbox" data-key="app.autolaunch">
								Lancer automatiquement à l'ouverture de la session
							</label>

							<h3>Notifications</h3>
							<h4>Updater</h4>
							<label class="checkbox">
								<input type="checkbox" data-key="updater.notify">
								Notifications lors de la mise à jour d'addons
							</label>
							<label class="checkbox">
								<input type="checkbox" data-key="updater.notify.sound">
								Activer les notifications sonores
							</label>

							<button class="mt alternate" id="notification-test">Tester</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
}
