@(target: UUID)(implicit req: UserRequest[_])

@view("Ajout d'un personnage", "profile") {
	<div class="layout-center">
		<div style="width: 300px;">
			<h3>Associer un personnage</h3>
			<form class="box" action="@routes.ProfileController.bindPost(target)" error-display="bind-error">
				<label>
					Serveur
					<input name="realm" value="Ysondre">
				</label>
				<label>
					Personnage
					<input name="name" autofocus>
				</label>
				<button>Associer</button>
				<a href="@routes.ProfileController.profile(target)" class="btn alternate">Annuler</a>
			</form>
			<div class="box error" hidden id="bind-error"></div>
		</div>
	</div>
}
