@(user: User, main: Toon, toons: Seq[Toon], profile: Profile, age: Option[Int])(implicit request: UserRequest[_])

@editable = @{ request.acl.can("profile.edit") || request.user.uuid == user.uuid }

@view("Profil et personnages", "profile", styles = Seq("profile/profile")) {
	<div class="layout-columns" id="profile">
		<div class="left column">
			<div id="profile-card">
				<img src="@main.thumbnailUrl">
				<div class="text">
					<span class="name" wow-class="@main.cls.id">@main.name</span>
					<span class="info">
						@main.level
						@main.raceName
						@main.cls
					</span>
					<span class="id gray">@user.name</span>
				</div>
			</div>
			<hr>
			<table>
				<tr><th><i>face</i> Prénom</th><td class="selectable">@profile.name.getOrElse("—")</td></tr>
				<tr><th><i>cake</i> Age</th><td>@age.getOrElse("—")</td></tr>
				<tr><th><i>public</i> Région</th><td class="selectable">@profile.location.getOrElse("—")</td></tr>
			</table>
			<table>
				<tr><th><i>gamepad</i> BattleTag</th><td class="selectable">@profile.btag.getOrElse("—")</td></tr>
				<tr><th><i>local_post_office</i> E-mail</th><td class="selectable">
					@profile.mail.map { mail =>
						<a href="mailto:@mail">@mail</a>
					}.getOrElse {
						—
					}
				</td></tr>
				<tr><th><i>local_phone</i> Téléphone</th><td class="selectable">
					@profile.phone.map { phone =>
						<a href="tel:@phone.replaceAll("[^0-9+]+", "")">@phone</a>
					}.getOrElse {
						—
					}
				</td></tr>
			</table>
			<hr>
			@if(editable) {
				<div class="pack">
					<a href="@routes.ProfileController.edit(user)" class="btn alternate"><i>edit</i> Editer le profil</a>
					<a href="@routes.ProfileController.bind(user)" class="btn alternate"><i>link</i> Associer un personnage</a>
				</div>
			}
		</div>
		<div class="right">
			<div id="profile-toons">
				@for(toon <- toons) {
					<div class="toon box">
						@if(toon.active) {
							<div class="render cls@toon.race-@toon.gender" style="background-image: url('@toon.renderUrl');">
								<a href="@toon.armoryUrl">
									<i>open_in_new</i>
								</a>
							</div>
						}
						<div class="row">
							<div class="info flex">
								<div>
									<span class="name" wow-class="@toon.cls.id">@toon.name</span>
									<span class="realm light gray">@toon.realm</span>
								</div>
								@if(toon.active) {
									<div>
										<span class="ilvl">@toon.ilvl ilvl</span>
										<span class="darkgray">&mdash;</span>
										<span class="timestamp">@toon.lastUpdate.ago.capitalize</span>
									</div>
								}
							</div>
							@if(editable && toon.active) {
								<div class="specs">
								@for(spec <- toon.cls.specs; icon = spec.icon) {
									<a href="@routes.ProfileController.toonSetSpec(user, toon.uuid, spec.id)" method="put"
										class="spec @if(toon.spec == spec) { active }" title="@spec.name">
										<img src="@routes.Assets.versioned(s"images/specs/$icon.jpg")">
									</a>
								}
								</div>
							}
						</div>
						@if(editable) {
							<div class="actions">
							@if(toon.active) {
								@if(!toon.main) {
									<a href="@routes.ProfileController.toonPromote(user, toon.uuid)" method="post" class="btn alternate">Main</a>
									<a href="@routes.ProfileController.toonDisable(user, toon.uuid)" method="post" class="btn alternate">Désactiver</a>
								}
								<a href="@routes.ProfileController.toonUpdate(user, toon.uuid)" method="post" class="btn alternate">Mettre à jour</a>
							} else {
								<a href="@routes.ProfileController.toonEnable(user, toon.uuid)" method="post" class="btn alternate">Activer</a>
								<a href="@routes.ProfileController.toonRemove(user, toon.uuid)" method="post" class="btn alternate">Supprimer</a>
							}
							</div>
						}
					</div>
				}
				@for(i <- 1 to 3) {
					<div class="padding"></div>
				}
			</div>
		</div>
	</div>
}
