@keyframes lds-dual-ring {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

header {
	background-color: #272727;
	border-bottom: 1px solid #444;
	display: flex;
	align-items: center;
	height: 56px + 1px;
	user-select: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-app-region: drag;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	html[dual-panel] & {
		height: 32px;

		h1 {
			display: none;
		}

		h2 {
			font-size: 16px;
			padding-left: 8px;
		}
	}

	h1 {
		@size: 56px;
		@padding: 5px;

		position: relative;
		background: #333;
		width: @size;
		height: @size;
		margin-right: 24px;
		-webkit-app-region: no-drag;

		img {
			position: absolute;
			top: @padding;
			left: @padding;
			width: @size - @padding * 2;
			height: @size - @padding * 2;
			transform: translateZ(0);
			transition: opacity .2s ease-out;
			pointer-events: none;
			body.loading & {
				opacity: 0.5;
			}
		}

		.lds-dual-ring {
			position: absolute;
			top: @padding * 2;
			left: @padding * 2;
			width: @size - @padding * 4;
			height: @size - @padding * 4;
			opacity: 0;
			transition: opacity .2s ease-out;
			pointer-events: none;
			body.loading & {
				opacity: 0.8;
			}
		}

		.lds-dual-ring span {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: 3px solid;
			border-color: #ffffff transparent #ffffff transparent;
			animation: lds-dual-ring 1.3s linear infinite;
		}

		&:hover {
			background: #444;
		}
	}

	h2, h3 {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 400;
		font-size: 21px;
		line-height: 0;
	}

	#user-badge {
		display: flex;
		height: 56px;
		align-items: center;
		font-size: 15px;
		padding-right: 24px;
		-webkit-app-region: no-drag;

		i {
			margin-left: 8px;
			font-size: 16px;
			opacity: 0.5;
		}

		&:hover i {
			opacity: 1;
		}
	}

	#app-buttons {
		display: none;
		align-items: flex-start;
		height: 100%;

		html[app] & {
			display: flex;
		}

		button {
			all: unset;
			box-sizing: inherit;
			background: none;
			border: 0;
			color: #eee;
			font-size: 14px;
			line-height: 0;
			padding: 8px;
			outline: none;
			-webkit-app-region: no-drag;

			&:hover {
				background-color: #333;
			}

			i {
				margin: 0;
			}
		}
	}

	nav#app-nav {
		@width: 230px;

		position: fixed;
		top: 0;
		left: -@width - 5px;
		width: @width;
		background: fade(#333, 95%);
		border: solid #444;
		border-width: 0 1px 1px 0;
		box-shadow: 0 0 5px 1px rgba(17, 17, 17, 0);
		transition: all ease-out .1s;
		-webkit-app-region: no-drag;

		&.open {
			left: 0;
			box-shadow: 0 0 5px 1px rgba(17, 17, 17, 0.8);
		}

		h3 {
			line-height: 56px;
			padding-left: 56px;
			text-align: center;
			margin-bottom: 0;
			padding-right: 12px;
		}

		li {
			line-height: 0;
		}

		a {
			border-top: 1px solid #444;
			padding: 18px 24px;
			margin: 0;
			width: 100%;
			display: flex;
			font-size: 14px;
			i {
				margin-right: 24px;
			}
			span {
				flex: 1;
				font-weight: 400;;
			}
		}
	}
}

nav#modules-nav {
	position: fixed;
	top: 57px;
	left: 0;
	bottom: 0;
	z-index: 5;
	width: 56px + 0px;
	background-color: fade(#333, 60%);
	user-select: none;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	transition: all .2s ease-out;
	//border-right: 1px solid fade(#444, 50%);

	html[unauthenticated] & {
		left: -56px;
		box-shadow: none;
	}

	html[dual-panel] & {
		display: none;
	}

	ul {
		list-style: none;
		padding-top: 10px;
	}

	li {
		width: 56px;
		height: 56px;
		font-size: 24px;
		cursor: pointer;

		a {
			display: flex;
			width: 56px;
			height: 56px;
			justify-content: center;
			align-items: center;
			border: solid transparent;
			border-width: 0 2px 0 2px;
			color: #eee !important;
		}

		&:hover {
			background: fade(#444, 20%);
		}

		&.active {
			background: fade(#444, 50%);
			a {
				border-right: 2px solid #dd1f20;
			}
		}
	}
}

section#content {
	position: fixed;
	padding: 24px;
	transition: all .2s ease-out;

	top: 57px;
	left: 56px;
	bottom: 0;
	right: 0;
	z-index: 1;

	html[unauthenticated] & {
		left: 0;
		box-shadow: none;
	}

	html[dual-panel] & {
		left: 0;
		top: 32px;
	}
}

#toasts {
	position: absolute;
	right: 12px;
	bottom: 12px;
	z-index: 50;
	width: 350px;

	.toast {
		background: fade(#131313, 90%);
		overflow: hidden;
		margin-top: 12px;
		box-shadow: 0 0 10px #000;

		.actions {
			margin-top: 12px;
		}
	}
}
