.layout-columns {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	align-items: stretch;

	& > div {
		padding: 24px;
		overflow: auto;

		&:first-child {
			background: fade-out(#222, 0.50);
			min-width: 220px;
			flex-shrink: 0;
		}

		&:last-child:not(:first-child) {
			flex: 1;
		}
	}
}

.layout-center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	& > * {
		margin-bottom: 0;
		&:not(:first-child) {
			margin-top: 24px;
		}
	}

	& > .pack {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		& > *:not(:first-child) {
			margin-top: 12px;
		}
	}
}

.row {
	display: flex;
	flex-shrink: 0;

	&.inline {
		display: inline-flex;
	}

	& > *:not(:first-child) {
		margin-left: 12px;
	}

	&.wrap {
		flex-wrap: wrap;
		margin-left: -12px;

		& > *:first-child {
			margin-left: 12px;
		}
	}
}

.spacer {
	flex: 1;
}

.flex {
	flex-grow: 1;
	flex-shrink: 0;
}

.mt {
	margin-top: 12px;
}

.mb {
	margin-bottom: 12px;
}

.self-align-middle {
	align-self: center;
}
