.tooltip {
	display: none;
	position: fixed;
	z-index: 1000;
	background: fade-out(#111, 0.10);
	border: 1px solid #333;
	padding: 8px;
	box-shadow: 0px 0px 5px rgba(17, 17, 17, 0.75);
	color: #eee;

	&.visible {
		display: block;
		will-change: bottom, left;
	}

	.line {
		display: flex;

		span:first-child {
			flex: 1;
			margin-right: 16px;
		}
	}

	.spacer {
		margin-top: 8px;
	}
}
